@import './scss/bootstrap';
@import './scss/header';
@import './scss/hero';
@import './scss/footer';
@import './scss/login';
@import './scss/register';
@import './scss/upload';
@import './scss/myuploads';
@import './scss/allimages';
@import 'react-toastify/dist/ReactToastify.css';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1 0 auto;
}