// .profiles{

//     position: relative;
   
//     display: none;
     
// }
.box{
    position: relative;
    overflow: hidden;
}
.profiles{
    display: none;
    bottom: 0px;
    position: absolute;
    transform: 3s ease-in-out;
    -webkit-transform: 3s ease-in-out;
    -moz-transform: 3s ease-in-out;
    -ms-transform: 3s ease-in-out;
    -o-transform: 3s ease-in-out;
}
.box:hover .profiles {
 display: block;
 transition: 5s !important;
 -webkit-transition: 5s !important;
 -moz-transition: 5s !important;
 -ms-transition: 5s !important;
 -o-transition: 5s !important;
 transform: translateY(0);
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 -ms-transform: translateY(0);
 -o-transform: translateY(0);
}
.icons{
    display: none;
    // top: 0px;
    position: absolute;
    // left: 50vh;
    // display: flex;
    bottom: 10px;
}
.box:hover .icons{
    display: block;
}
.img-home::after{
    content: '';
    width: 100vh;
    height: auto;
    background-color: aqua;

    
}