
.upload-btn{
  background-color: rgb(79, 183, 218) !important;
}

nav{
  .nav-item{
      .btn{
         background-color: transparent;
         border: none;
         &:hover{
          transition: 0.75s;
          background-color: rgb(187, 187, 187) !important;
          opacity: 5;
          border-radius: 30px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;
          -webkit-transition: 0.75s;
          -moz-transition: 0.75s;
          -ms-transition: 0.75s;
          -o-transition: 0.75s;
}
      }
  }
}

.drop{
  width: 80vh !important;
  padding: 20px 20px;
  ul{
    list-style: none;
    line-height: 38px;
    li{
        a{
           color: rgb(245, 237, 237);
           text-decoration: none;
           &:hover{
            text-decoration: underline;
            // color: rgb(79, 183, 218) !important;
            color: rgb(112, 108, 108);
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
}
        }
    }
}
}

.drop2{
  // width: 50vh !important;
  padding: 13px 10px !important;
  ul{
    list-style: none;
    line-height: 48px;
    li{
        a{
           color: rgb(245, 237, 237);
           text-decoration: none;
           &:hover{
            text-decoration: underline;
            // color: rgb(79, 183, 218) !important;
            // color: rgb(112, 108, 108);
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
}
        }
    }
}
}

.btn-drop{
  background: #003973;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.drop-profile {
  width: 30vh !important;
  ul{
    list-style: none;
    line-height: 48px;
    li{
        a{
           color: rgb(245, 237, 237);
           text-decoration: none;
           &:hover{
            text-decoration: underline;
            // color: rgb(79, 183, 218) !important;
            // color: rgb(112, 108, 108);
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
}
        }
    }
}
}
.google-btn:hover{
   border: 1px solid rgb(72, 90, 255) !important;
}

.dropm-exp{
  border-right: 1px solid white !important ;
}

.logopic{
  letter-spacing: 1.5px;
}