.search{
  padding: 13px;
  background-color: white;
  border-radius: 25px 20px ;
  -webkit-border-radius: 25px 20px ;
  -moz-border-radius: 25px 20px ;
  -ms-border-radius: 25px 20px ;
  -o-border-radius: 25px 20px ;
}
.hero-section{
    background: url(../accests/images/back-img.jpg) repeat center/cover fixed;
    height: 73vh;
    background-repeat: no-repeat;
    background-size: cover;        
}
.search-bar{
    // padding: 10px 5px;
    padding: 13px;
    border-radius: 25px 20px ;
    border-left: none;
    outline: none !important;

}



